h1, #start_button_div {
    text-align: center;
}

/*
body {
    text-align: center;
}

#form_div {
    display: inline-block;
    text-align: left;
}

#result_div {
    text-align: left;
    display: block;
}
*/
